.container {
  display: flex;
  justify-content: center;
  width: 450px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  border: solid 1px rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  padding: 20px;
  gap: 20px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}
form h1 {
  text-align: center;
  color: #fff;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}
input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  outline: none;
}
button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #6a6e6a;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: #121312;
}
/* Estilo para o link de esqueci minha senha */
.forgot-password {
  text-align: right;
}
.forgot-password a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}
.forgot-password a:hover {
  text-decoration: underline;
}
/* Estilo para o link de cadastro */
.recall-forget {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.singup-link {
  text-align: center;
  font-size: 14px;
  color: #fff;
}
.singup-link a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
.singup-link a:hover {
  text-decoration: underline;
  color: black;
}
.recall-forget label {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #fff;
  gap: 5px;
}
.recall-forget input[type="checkbox"] {
  width: 14px;
  height: 14px;
}
.recall-forget a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}
.recall-forget a:hover {
  text-decoration: underline;
}
